:root {
    --category-font-color: #000;
    --category-heading-color: #000;
    --category-border-color: #000;
    --category-accent-color: #1155cc;
}

.category-description-content p,
.category-description-content ul,
.category-description-content li {
    color: var(--category-font-color);
}

.category-description-content p span {
    font-size: 16px;
}

.category-description-content ul a,
.category-description-content p a {
    color: var(--category-accent-color);
    text-decoration: underline;
}

.category-description-faq {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.category-description-faq-title {
    font-size: 20px;
    text-align: left;
    color: var(--category-heading-color);
}

.category-faq-item {
    margin-top: 0.3rem;
    border-bottom: 2px solid var(--category-border-color);
    cursor: pointer;
}

.category-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 15px 0;
    gap: 20px;
}

.category-faq-question p {
    font-size: 18px;
    margin: 0;
    color: var(--category-font-color);
}

.category-faq-question svg {
    flex-shrink: 0;
    transition: transform 0.3s ease;
    stroke: var(--category-border-color);
}

.category-faq-item.active .category-faq-question svg {
    transform: rotate(180deg);
}

.category-faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.category-faq-answer p {
    line-height: 1.6;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
    color: var(--category-font-color);
}

.category-faq-item.active .category-faq-answer {
    max-height: 500px;
}

@media (max-width: 768px) {
    .category-description-faq {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .category-description-faq {
        width: 100%;
    }
}